$primary: rgb(172, 172, 172);
$secondary: #949494;
$info: rgba(128, 128, 128, 0.6);
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;

$navbar-toggler-focus-width: 0.125rem;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";