img#stages {
    filter: blur(2px);
}

.hero:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    z-index: 999;
}

.help-container{
    width: 50%;
}

@media screen and (max-width: 992px) {
    .help-container{
        width: 100%;
    }    
}