img.card {
    filter: blur(1px);
    &:hover {
        filter: blur(0);
        transition: all 0.3s ease;
    }
}

.hero:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    z-index: 999;
}

.help-container{
    width: 50%;
}

@media screen and (max-width: 992px) {
    .help-container{
        width: 100%;
    }    
}

input[type="submit"].form-control:hover {
    background-color: var(--bs-secondary);
    color: white;
    transition: all 0.3s ease;
}

#connexion:hover, #seeProfile:hover {
    background-color: var(--bs-primary);
    &> i {
        padding-right: 10px;
        transition: all 0.3s ease;
    }
}

input:focus {
    box-shadow: none !important;
}