{% extends "base.html.twig" %}

{% block title %}Non autorisé{% endblock %}

{% block content %}
    <div class="container position-absolute top-50 start-50 translate-middle">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>401</h1>
                <h2>La ressource à laquelle vous tentez d'accéder demande une accréditation</h2>
            </div>
        </div>
    </div>
{% endblock %}