{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>418</h1>
                <h2>I'm a teapot</h2>
            </div>
        </div>
{% endblock %}