<html>
    <head>
        <title>{% block title %}Internship Management{% endblock %}</title>
    </head>
    <body>
        <header>
            <h1>Internship Management</h1>
        </header>
        {% block content %}{% endblock %}
    </body>
</html>