{% extends 'base.html.twig' %}

{% block title %}Authentification{% endblock %}

{% block content %}
    <div class="row">
        <form class="form bg-primary col-4-md col-10 rounded position-absolute top-50 start-50 translate-middle" method="post" id="form-student">
            <h2 class="text-center pt-3">Authentification</h2>
            <label class="form-label" for="username"></label>
            <div class="d-flex justify-content-center bg-secondary rounded p-1">
                <i class="fa-solid fa-at fa-xl mx-1" style="transform: translateY(50%);"></i>
                <input class="form-control bg-secondary border-0" type="text" id="username" name="username" placeholder="Nom d'utilisateur" style="width: 90%;" required>
            </div>
            <label class="form-label" for="password"></label>
            <div class="d-flex justify-content-center bg-secondary rounded p-1">
                <i class="fa-solid fa-lock fa-xl mx-1" style="transform: translateY(50%);"></i>
                <input class="form-control bg-secondary border-0" type="password" id="password" name="password" placeholder="Mot de passe" style="width: 90%;" required>
            </div>
            <input class="form-control my-3" type="submit" value="Connexion">
            {% if redirect is defined %}
                <input type="hidden" name="redirect" value="{{ redirect }}">
            {% endif %}
        </form>
    </div>
{% endblock %}