{% extends "base.html.twig" %}

{% block title %}Rechercher une entreprise{% endblock %}

{% block content %}
    <form method="get" action="index.php">
        <input type="hidden" name="page" value="entreprises">
        <label for="nom">Nom de l'entreprise</label>
        <input type="text" name="nom">
        <label for="ville">Ville</label>
        <input type="text" name="ville">
        {# <select name="specialites[]" id="specialites" class="form-control" multiple required>
            {% for specialite in specialites %}
                <option value="{{ specialite.getNumero() }}">{{ specialite.getNom() }}</option>
            {% endfor %}
        </select> #}
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>
{% endblock %}