{% extends "base.html.twig" %}

{% block title %}Recherche d'un stagiaire{% endblock %}

{% block content %}
    <h1>Recherche d'un stagiaire</h1>
    <form action="index.php" method="get">
        <input type="hidden" name="page" value="stagiaires">
        <div class="form-group">
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" class="form-control">
        </div>
    </form>
{% endblock %}
